body {
    background-color: #E9E3DE;
    font-family: 'Inter';
    color: #403B3B;
}

/* SIDE MENU */
.side_menu {
    height: 100%; 
    width: 160px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #D5CAC1;
    overflow-x: hidden; 
    padding: 10px;
    outline: 2px solid #666161;
    outline-offset: initial;
}

.bt_side_menu { 
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #666161;
    margin-bottom: 15px;
}

.bt_side_menu:hover{
    color: #403B3B;
}

.main {
    margin-left: 174px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area_upload {
    background: none;
    width: 95%;
    height: 60px;
    border-radius: 50px;
    border: 2px solid #666161;
    color: #666161;
    vertical-align: middle;
}

/* AREA DE INPUT */
.area_input {
    margin-top: 20px;
    display: flexbox;
}

.area_input input {
    border-radius: 30px;
    height: 30px;
    border: 2px solid #666161;
    background-color: #F9F2ED;
    padding-left: 12px;
    outline: none;
    font-size: 16px;
}

/* Compatível com Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
    font-size: 18px;
}

select,
::picker(select) {
    appearance: base-select;
}

select {
    border-radius: 30px;
    width: 140px;
    height: 30px;
    text-align: center;
    padding-left: 12px;
    border: 2px solid #666161;
}

#input_data {
    padding-right: 12px;
}

#inputButton {
    background-color: #666161;
    color: #E9E3DE;
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: inline-flex;
    padding-top: 6px;
}

/* TABELA */
.area_table {
    width: 95%;
    border: 2px solid;
    border-color: #403B3B;
    border-radius: 22px;
}

.tabela {
    display: flexbox;
    margin: auto;
    font-family: 'Inter';
    font: 32px;
    padding: auto 300px;
}
